<h1>New Case</h1>

Supply a name for the case, and a path to where the files are located in the Backlog.  For example:
<pre>
  Backlog/DigitalCollections/IMAGES/Adam Matthew Project
</pre>

<%= render partial: "case_form" %>